@import '../../extra/colors.sass'

#main-body 
    display: flex
    justify-content: center
    padding: 20px

    #info-fields
        width: 30%
        max-width: 400px
        min-width: 200px

        input, textarea
            margin-bottom: 15px
        
        textarea
            resize: none

    
    