.flex-center
    display: flex
    justify-content: center

h1
    margin-top: 50px
    margin-bottom: 30px

#register-body
    width: 80%
    max-width: 300px

    input
        margin-top: 20px
    
    button
        margin-top: 50px