@import '../../extra/colors.sass'

.input-button
    background-color: $accent
    border: none
    height: 50px
    border-radius: 20px
    color: white
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px
    outline: none
    cursor: pointer

.full-width
    width: 100%

.bg-standard
    background-color: #FAFAFA
    color: grey
